body {
    font-family: Open Sans;
}

h1 {
    text-align: center;
}

#container {
    width: 900px;
    max-width: calc(100vw - 50px);
    box-sizing: border-box;
    margin: auto;
    padding: 10px 25px 25px 25px;
    background-color: #1764b1;
    border-radius: 8px;
    color: #FFFFFF;
    font-size: 1.2em;
    box-shadow: 0px 5px 10px #888;
}

#quiz {
    display:none;
}

nav {
    text-align: center;
    padding-top: 13px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

a.button {
    display: inline-block;
    border-radius: 5px;
    padding: 4px 15px;
    font-size: 1.2em;
    background-color: #DCDCDC;
    color: black;
    margin: 0 15px;
    text-decoration: none;
}

a.button:hover {
    background-color: #F8F8FF;
    color: #525252;
}

a.button:active {
    box-shadow: 0 1px 2px #888 inset;
}

@media (max-width: 700px) {
    nav {
        flex-direction: column-reverse;
        justify-content: end;
    }

    nav > * {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    nav > .button {
        min-width: 50px;
    }
}


input[type="radio"] {
    width: 1.3em;
    height: 1.3em;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li.answer-line {
    line-height: 1.3em;
    padding-bottom: 12px;
}

.good {
    color: rgb(86, 255, 86);
}
li.answer-line.good::after {
    content: " ✔️";
}

.bad {
    color: rgb(255, 153, 153);
}
li.answer-line.bad::after {
    content: " ❌";
}

#time-progress-label {
    font-size: 0.8em;
    color: #bbb;
}


progress#time-progress {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    height: 8px;
    border: none;
    width: 100%;
    background-color: transparent;
}
progress#time-progress::-webkit-progress-bar {
    background-color: transparent;
}

progress#time-progress::-moz-progress-bar,
progress#time-progress::-webkit-progress-value {
    background-color: green;
    transition: background-color 2s;
}